.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: url("../public/p5images/sketch3.png") center center / cover no-repeat;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: url("../public/p5images/sketch3.png") center center / cover no-repeat fixed;
}

.scheduler {
  margin: 40px auto;
  width: 800px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);

  background: white;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}

.Col {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e6e6e6;
}

.Col > p:first-child{
  height: 60px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.Col:first-child{
  border-left: none;
}

.timeslot{
  height: 60px;
  min-height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 1px solid #eee;
}

.timeslot:hover{
  background-color: #eef2ff;
}

.timeslot p {
  font-size: clamp(9px, 1vw, 14px);
  margin: 0;
  text-align: center;
}

.timeslot .hard{
  background-color: pink;
}

.timeslot .soft{
  background-color: lightblue;
}

.form-task {
  max-width: 340px;
  margin: 40px auto;
  padding: 22px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.form-title {
  padding: 9px 10px;
  font-size: 14px;

  border-radius: 6px;
  border: 1px solid #ddd;

  transition: all 0.2s ease;
}

.form-title:focus {
  outline: none;
  border-color: #dc409b;
}


.form-task label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  margin-top: 2px;
}


.form-task input[type="number"] {
  width: 60px;
  padding: 3px;

  border-radius: 3px;
  border: 1px solid #ddd;

  font-size: 13px;
  text-align: center;

  transition: border 0.2s ease;
}

.form-task input[type="number"]:focus {
  outline: none;
  border-color: #e24aa3;
}


.form-task input[type="radio"] {
  margin-right: 6px;
}

.form-task label:has(input[type="radio"]) {
  justify-content: flex-start;
  gap: 6px;
  font-size: 14px;
}


.button-submit {
  margin-top: 6px;
  padding: 10px;

  border: none;
  border-radius: 7px;

  background: #da3b92;
  color: white;

  font-weight: 600;
  font-size: 14px;

  cursor: pointer;

  transition: background 0.2s ease, transform 0.05s ease;
}

.button-submit:hover {
  background: #f14997;
}

.button-submit:active {
  transform: scale(0.97);
}

.rate-button {
  margin-top: 6px;
  padding: 10px;

  border: none;
  border-radius: 7px;

  background: #da3b92;
  color: white;

  font-weight: 600;
  font-size: 14px;

  cursor: pointer;

  transition: background 0.2s ease, transform 0.05s ease;
}

.rate-button:hover {
  background: #f14997;
}

.rate-button:active {
  transform: scale(0.97);
}

.popup {
  max-width: 340px;
  margin: 40px auto;
  padding: 22px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.popup label {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 13px;
  margin-top: 2px;
}


.popup input[type="number"] {
  width: 60px;
  padding: 3px;

  border-radius: 3px;
  border: 1px solid #ddd;

  font-size: 16px;
  text-align: center;

  transition: border 0.2s ease;
}

.form-task input[type="number"]:focus {
  outline: none;
  border-color: #e24aa3;
}

